/* STARTER CSS  */
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  background-image: url("./image/Welcome_backgroud.jpg");
  background-position: center;
}
figure {
  margin-left: 0;
  margin-top: 0;
}
.title {
  margin-left: 60px;
}

.nom {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

span {
  margin-left: 35px;
}

button {
  margin-top: 86px;
  color: black;
  background-color: orange;
  height: 40px;
  border-radius: 10px;
  margin: auto 0;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-left: 115px;
  position: relative;
  width: 50vh;
  left: 0;
  margin-top: 117px;
  width: 100px;
}

.pokemon-card {
  height: 400px;
  background-size: 150px;
  background-position: center;
  border-radius: 20px;
  margin: 0px;
}

.pokemon-card-top {
  color: white;
  font-size: 20px;
  padding: 20px;
}
.Favorite {
  width: 40px;
  height: 40px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg');
  background-size: 100%;
  align-self: flex-start;
}
.notFavorite {
  width: 40px;
  height: 40px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg');
  background-size: 100%;
  align-self: flex-start;
}

h2 {
  position: relative;
  top: -189px;
}
.pokemon-card-bottom {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  padding: 35px 20px;
  border-radius: 20px 20px 0px 0px;
  min-height: 70px;
  background-color: white;
  position: relative;
  top: -195px;
}
.pokemon-card-image {
  position: relative;
  top: -210px;
  width: 300px;
  height: 100%;
  object-fit: contain;
  margin-bottom: -65px;
}
.pokeball {
  position: relative;
  top: -23px;
  left: -20px;
  opacity: 0.2;
}

.heart {
  width: 44px;
  position: absolute;
  top: 165px;
  margin-left: 295px;
  top: 178px;
}
.pokemon-card-badge {
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  text-align: center;
}

/* STARTER : STATISQUES  */
.pokemonStat {
  color: white;
  width: 459px;
  overflow: hidden;
  height: 631px;
}

.pokemonStat-bottom {
  background-color: white;
  width: 459px;
  overflow: hidden;
  position: absolute;
  border-radius: 30px 30px 0 0;
  top: 363px;
}
#file-1 {
  background-color: green;
  margin-left: 38px;
}
#file-2 {
  background-color: green;
}
#file-3 {
  background-color: rosybrown;
}
#file-4 {
  background-color: red;
}
.arrowUp {
  width: 2px;
  border-radius: 5px;
  border-right: 12px solid transparent;
  border-bottom: 20px solid rgba(88, 88, 88, 1);
  border-left: 12px solid transparent;
  transform: rotate(0.1turn);
}

.span-1 {
  margin-left: 106px;
}
.span-2 {
  margin-left: 82px;
}
.span-3 {
  margin-left: 73px;
}
.span-4 {
  margin-left: 85px;
}
.type {
  width: 70px;
  border-radius: 10px;
  margin-left: 30px;
}
span {
  color: black;
}
.jg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jauge-1 {
  width: 30px;
  background: linear-gradient(
    90deg,
    #1ee13d 0%,
    #24e242 81.91%,
    #b0e3b8 81.92%
  );
  width: 100px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.jauge-2 {
  background: linear-gradient(90deg, #e1b71e 42.95%, #e3dab0 42.96%);
  width: 100px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.jg-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jg-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.jauge-3 {
  background: linear-gradient(90deg, #e1651e 30.14%, #e3dab0 30.15%);

  width: 100px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.jg-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jauge-4 {
  background: linear-gradient(90deg, #e1651e 30.14%, #e3dab0 30.15%);
  width: 100px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.p-strenght {
  z-index: 999;
  position: absolute;
  width: 234px;
  margin-left: 93px;
}

.poke {
  position: relative;
  opacity: 0.2;
  left: 229px;
  width: 290px;
  height: 369px;
  top: -76px;
}

/* the END  */

/* -------------------------------------------------------------------------- */
/*                                   POKEDEX                                  */
/* -------------------------------------------------------------------------- */
.searchBarPok {
  background-color: white;
  opacity: 70%;
  border-radius: 10px;
  border-color: initial;
  width: 60%;
  height: 20px;
  padding: 3px;
  margin: 25px;
}

/* -------------------------------- FILTERBAR ------------------------------- */
.filtrePokedex {
  display: flex;
  color: white;
  justify-content: space-between;
  border-bottom: 0.2rem solid white;
  width: 60%;
  margin-left: 80px;
}

/* ------------------------------ VERTICAL-LINE ----------------------------- */
.vertical-line {
  position: absolute;
  height: 95%;
  border-left: 0.2rem solid white;
  left: 125px;
}

/* --------------------------------- POKEDEX -------------------------------- */
#pokedex {
  background: #d65c5c;
  position: relative;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
  clip-path: polygon(80% 0%, 100% 4%, 100% 100%, 0% 100%, 0% 0%);
}

.cardPokedex {
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-right: 0;
}

#pokedexCard {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

div .cardPokedex {
  z-index: 20;
  margin: 15px;
}

img.imgPokedex {
  border-radius: 100%;
  width: 70px;
  border: 2px solid white;
  padding: 10px;
}
img.imgPokedex:hover {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.ulPokedex {
  list-style-type: none;
  display: flex;
  text-align: center;
  padding-inline-start: none;
  z-index: 20;
  margin-left: 0;
  padding: 10px;
}

.liPokedex {
  width: 60px;
  border-radius: 15px;
  padding: 5px;
  color: white;
}
#name_type {
  display: flex;
  flex-direction: column;
}

.liPokedexType {
  color: white;
  font-size: large;
  width: 60px;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  padding-left: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.liPokedexTypeImage {
  width: 30%;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
