* {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

$font-dark: #2B2B2B;
$font-light: #FFFFFF;
$font-stack: "Inter",sans-serif;
$color-accent: #F18557;
$main-red: #d65c5c;

.App {
  text-align: center;
}

body {
  font-family: $font-stack;
}

/* -------------------------------------------------------------------------- */
/*                                   POKEDEX                                  */
/* -------------------------------------------------------------------------- */
.searchBarPok {
  background-color: $font-light;
  opacity: 70%;
  border-radius: 10px;
  border-color: initial;
  width: 60%;
  height: 20px;
  padding: 3px;
  margin: 25px;
}

/* -------------------------------- FILTERBAR ------------------------------- */
.filtrePokedex {
  display: flex;
  color: $font-light;
  justify-content: space-between;
  border-bottom: 0.2rem solid $font-light;
  width: 60%;
  margin-left: 80px;
}

/* ------------------------------ VERTICAL-LINE ----------------------------- */
.vertical-line {
  position: absolute;
  height: 95%;
  border-left: 0.2rem solid $font-light;
  left: 125px;
}

/* --------------------------------- POKEDEX -------------------------------- */
#pokedex {
  background: #d65c5c;
  position: relative;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
  clip-path: polygon(80% 0%, 100% 4%, 100% 100%, 0% 100%, 0% 0%);
}

.cardPokedex {
  font-family: "Courier New", Courier, monospace;
  color: $font-light;
  margin-right: 0;
}

#pokedexCard {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

div .cardPokedex {
  z-index: 20;
  margin: 15px;
}

img.imgPokedex {
  border-radius: 100%;
  width: 70px;
  border: 2px solid $font-light;
  padding: 10px;
}
img.imgPokedex:hover {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.ulPokedex {
  list-style-type: none;
  display: flex;
  text-align: center;
  padding-inline-start: none;
  z-index: 20;
  margin-left: 0;
  padding: 10px;
}

.liPokedex {
  width: 60px;
  border-radius: 15px;
  padding: 5px;
  color: $font-light;
}
#name_type {
  display: flex;
  flex-direction: column;
}

.liPokedexType {
  color: $font-light;
  font-size: large;
  width: 60px;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  padding-left: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.liPokedexTypeImage {
  width: 30%;
}

/* -------------------------------------------------------------------------- */
/*                                              NAVBAR                              */
/* -------------------------------------------------------------------------- */
nav {
  height: 5rem;
  background-color: red;
  border-radius: 10px 10px 0px 0px;
  width: 100vw;
  position: fixed;
  bottom: -11%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-bottom: 5px;
  transition: 350ms;

  img{
    height: 30px;
  }
  
  .arrowWrapper{
    background-color: #61dafb;
    width: 5.5rem;
    height: 1.75rem;
    border-radius: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-15%
  }

  
    .arrowUp{
      width: 2px;
      border-radius: 5px;
      border-right : 12px solid transparent;
      border-bottom : 20px solid rgba(88, 88, 88, 1);
      border-left : 12px solid transparent;
      transition: 350ms;
      }
}



/* -------------------------------------------------------------------------- */
/*                                BAG COMPONENT                               */
/* -------------------------------------------------------------------------- */
.bag {
  background-color: var(--bg-bag);
  min-height: 100vh;
}


/* -------------------------------------------------------------------------- */
/*                                    PATH                                    */
/* -------------------------------------------------------------------------- */
.path {
  background: url('../src/assets/PicturesPaths/chemin1.jpg') no-repeat center/cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.path .btn-fight {
  background: transparent;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  animation: heartbeat 1500ms ease-in-out infinite both;
  user-select: none;
}

.path .icone-fight {
  border-radius: 50%;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);

}




/* -------------------------------------------------------------------------- */
/*                               POKEMON GUESSER                              */
/* -------------------------------------------------------------------------- */

.btn {
  background-color: none;
  border: 0;
  cursor: pointer;
  border: 1px solid $font-light;
  width: 100%;
  background-color: $color-accent;
  text-transform: uppercase;
}
.guesser-container {

  background-color: #49BBE5;
  height: 100vh;
  overflow: hidden;
  color: $font-light;
  position: relative;
  z-index: 3;

  .close-blue::after {
    background-color: #3884C9;
  }

  .round {
    background-color: #C8EAF7;
    width: 50%;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    border: 1px solid $font-light;

    .roundNumber {
      color: #F18557;
      font-weight: bold;
    }
  }
  

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100vh;
    
    background: url('./assets/icon/pokeball.png') no-repeat;
    background-size: 100%;
    filter: opacity(10%) grayscale(100%);
    z-index: -1;
    top: 354px;
    left: -160px;
    transform: rotate(15deg);
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $font-light;
    margin-top: 40px;
    margin-bottom: 20px;
    z-index: 4;
    font-size: 32px;

  }

  .guesser-inner-container {
    display: flex;
    margin: 40px auto;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;

    

    form {
      .answer-input, .btn {
        background-color: #C8EAF7;
        outline: none;
        border: 1px solid $font-light;
        height: 30px;
      }

      .answer-input {
        border-radius: 10px;
        padding-left: 10px;
      }

      .btn-submit {
        width: 50px;
        background-color: $color-accent;
        text-transform: uppercase;
        color: $font-light;
        background-color: none;
        border: 0;
        cursor: pointer;
        border: 1px solid $font-light;
        border-radius: 0 10px 10px 0;
      }
    }

    .poke-color {
      width: 100%;
      margin-top: 40px;
      filter: brightness(0%);
      user-select: none;
    }
    .poke-shadow {
      width: 100%;
      margin-top: 40px;
      filter: brightness(100%);
      transition: 350ms;
    }

    .goodGuessContainer {
      h3 {
        font-size: 18px;
      }

      .cta-next {
        width: 60%;
        height: 25px;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid $font-light;
        cursor: pointer;
        margin-top: 10px;
        color:$font-light;
        transition: background-color 250ms ease-out;

        &:hover {
          background-color: rgba($color: $color-accent, $alpha: .7);
        }
      }
    }

    .wrongGuessContainer {
      h3 {
        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        color: $main-red;
      }
    }

    .cta-skip {
      width: 40%;
      background-color: $main-red;
      height: 25px;
      display: block;
      margin: 20px auto;
      border-radius: 10px;
      color:$font-light;

    }

   
  }
}

/* -------------------------------------------------------------------------- */
/*                                CLOSE BUTTON                                */
/* -------------------------------------------------------------------------- */



.close-container {
  width:250px;
  height: 170px;
  background-color: $font-light;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(66% 0, 100% 100%, 100% 0);

  &::after {
    content: "";
    position: absolute;
    width: 242px;
    height: 326px;
    z-index: 2;
    clip-path: polygon(62% 0, 66% 0, 100% 49%, 81% 100%);
    top: 0;
    right: -6px;
  }
  
  

  .btn-close {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;

    .close-img {
      width: 26px;
      height: 26px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                  GAME OVER                                 */
/* -------------------------------------------------------------------------- */
.game-over {
  background: url('./assets/icon/Welcome_backgroud.jpg') center/cover;
  min-height: 100vh;
  position: relative;
  backdrop-filter: blur(20px);
  text-align: center;
  display: flex;
  align-items: center;
  // &::after {
  //   content: "";
  //   width: 100%;
  //   height: 100vh;
  //   filter: blur(20px);
  //   position: absolute;
  // }

  .game-over-container {
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;

    h2 {
      margin-bottom: 20px;
      font-size: 32px;
    }

    .list-pokemon-img {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      img {
        display: block;
        width: 100px;
      }
    }

    .btn {
      border-radius: 10px;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: $font-light;
    }
  }


}




/* -------------------------------------------------------------------------- */
/*                                  ANIMATION                                 */
/* -------------------------------------------------------------------------- */
// Animation
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

